# Dependências do Node.js
node_modules/

# Código compilado
dist/

# Arquivos de ambiente
.env

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do IDE/Editor
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.dbd

# Banco de dados SQLite
database.sqlite

# Ignorar arquivos de migração do Prisma (opcional, conforme explicado acima)
prisma/migrations/

# Não ignore o schema.prisma
!prisma/schema.prisma